# This file is a "template" of which env vars need to be defined for your application
# Copy this file as .env in the root folder, set the values and never commit it.

BACKEND_CORS_ORIGINS=["http://localhost:3000"]

# Logging
LOG_JSON_FORMAT=false
LOG_LEVEL=debug

# OAuth
## NYCU OAuth
NYCU_OAUTH_CLIENT_ID=""
NYCU_OAUTH_CLIENT_SECRET=""
## Google OAuth
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_OAUTH_CLIENT_SECRET=""

DEEPGRAM_SECRET_KEY=""
